<footer class="bg-secondary text-white mt-10 pb-10 md:pb-5">
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
            <div class="flex items-center gap-4 text-xl mb-5">
                <span class="text-4xl">{{ ux_icon('la:file-invoice-dollar') }}</span>
                <a href="{{path('site.home')}}" class="font-bold">SMOOTHBILL</a>
            </div>
            <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
                <li>
                    <a href="{{path('site.home')}}" class="hover:underline me-4 md:me-6">Accueil</a>
                </li>
                <li>
                    <a href="{{path('site.features')}}" class="hover:underline me-4 md:me-6">Features</a>
                </li>
                <li>
                    <a href="#" class="hover:underline me-4 md:me-6">Features</a>
                </li>
                <li>
                    <a href={{ path('site.legal_notice')}} class='hover:underline me-4 md:me-6'>{{ 'login.legal_notice'|trans }}</a>
                </li>
            </ul>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <span class='font-semiboled'>&copy; {{ "now"|date('Y') }} Smoothbill</span>
    </div>
</footer>

