{% set baseClasses = "flex items-center gap-2 p-1 border-transparent border-b-2  hover:border-primary  hover:text-primary" %}
{% set createAccountClasses = "flex items-center gap-2 p-1 border-transparent bg-primary text-white rounded-half px-6 py-4" %}

<nav class="p-4 flex justify-between items-center">
	<div class="flex items-center space-x-4">
		<img src="{{ asset('build/images/logo.png') }}" alt="SmoothBill Logo">
		<span class="text-xl font-bold">SMOOTHBILL</span>
	</div>

	<ul class="flex gap-13">
		<twig:MenuItem href="#" additionalclasses="{{baseClasses}} ">Accueil</twig:MenuItem>
		<twig:MenuItem href="#" additionalclasses="{{baseClasses}} ">Features</twig:MenuItem>
		<twig:MenuItem href="#" additionalclasses="{{baseClasses}} ">Pricing</twig:MenuItem>
		<twig:MenuItem href="#" additionalclasses="{{baseClasses}} ">Blog</twig:MenuItem>
	</ul>
	<ul class="flex items-center gap-4">
		<twig:MenuItem href="#" additionalclasses="{{baseClasses}} ">Se connecter</twig:MenuItem>
		<twig:MenuItem href="#" additionalclasses="{{createAccountClasses}} ">Créer un compte</twig:MenuItem>
	</ul>
</nav>
