{% extends 'base/base_dashboard.html.twig' %}

{% block title %}Settings{% endblock %}

{% block body %}
<div class="flex flex-col px-9 pt-14 pb-7 bg-white rounded-xl max-md:px-5">
    <h1 class="text-4xl font-semibold max-md:max-w-full">Settings</h1>
    <p class="mt-3 text-lg max-md:max-w-full">
        Visualisez et gérez les paramètres liés à votre entreprise.
    </p>
    <nav class="flex justify-between gap-5 mt-12 max-md:flex-wrap max-md:mt-10 max-md:max-w-full">
        <a href="{{ path('dashboard.settings') }}" class=" text-lg pb-2 {{ app.request.attributes.get('_route') == 'dashboard.settings' ? 'border-b-4 border-primary text-primary' : 'hover:border-b-4 hover:border-primary hover:text-primary' }}">Général</a>
        <a href="{{ path('dashboard.settings.subscriptions.index') }}" class=" text-lg pb-2 {{ app.request.attributes.get('_route') == 'dashboard.settings.subscriptions.index' ? 'border-b-4 border-primary text-primary' : 'hover:border-b-4 hover:border-primary hover:text-primary' }}">Abonnement</a>
        <a href="{{ path('dashboard.settings.user.manage') }}" class=" text-lg pb-2 {{ app.request.attributes.get('_route') == 'dashboard.settings.user.manage' ? 'border-b-4 border-primary text-primary' : 'hover:border-b-4 hover:border-primary hover:text-primary' }}">Equipe</a>
        <a href="#" class=" text-lg pb-2 {{ app.request.attributes.get('_route') == 'settings_branding' ? 'border-b-4 border-primary text-primary' : 'hover:border-b-4 hover:border-primary hover:text-primary' }}">Charte graphique</a>
        <a href="{{ path('dashboard.settings.company') }}" class=" text-lg pb-2 {{ app.request.attributes.get('_route') == 'dashboard.settings.company' ? 'border-b-4 border-primary text-primary' : 'hover:border-b-4 hover:border-primary hover:text-primary' }}">Entreprise</a>
    </nav>
    <div class="mt-6">
        {% block settings_content %}
        {% endblock %}
    </div>
</div>
{% endblock %}
