<aside class="sidebar p-4 border border-gray-300 rounded-md">
    <div class="logo flex items-center gap-4">
        <img src="{{ asset('build/images/logo.png') }}" alt="SmoothBill Logo">
        <h1 class="text-xl font-bold">SMOOTHBILL</h1>
    </div>
    <nav class="menu mt-10">
    <h2 class="text-lg font-semibold mb-4">MENU</h2>
        <ul class="space-y-4">
            <twig:MenuItem href="#" alt="General" additional_classes="hover:bg-primary/10 hover:text-primary hover:border-l-4 hover:border-primary">
                {{ ux_icon('zondicons:view-tile') }}
                Général
            </twig:MenuItem>
            <twig:MenuItem href="#" alt="Clients" additional_classes="hover:bg-primary/10 hover:text-primary hover:border-l-4 hover:border-primary">
                {{ ux_icon('fluent:people-team-16-regular') }}
                Clients
            </twig:MenuItem>
            <twig:MenuItem href="#" alt="Services" additional_classes="hover:bg-primary/10 hover:text-primary hover:border-l-4 hover:border-primary">
                {{ ux_icon('ph:handshake') }}
                Services
            </twig:MenuItem>
            <twig:MenuItem href="#" alt="Devis" additional_classes="hover:bg-primary/10 hover:text-primary hover:border-l-4 hover:border-primary">
                {{ ux_icon('teenyicons:cost-estimate-outline') }}
                Devis
            </twig:MenuItem>
            <twig:MenuItem href="#" alt="Factures" additional_classes="hover:bg-primary/10 hover:text-primary hover:border-l-4 hover:border-primary">
                {{ ux_icon('la:file-invoice-dollar') }}
                Factures
            </twig:MenuItem>
            <twig:MenuItem href="#" alt="Paiement" additional_classes="hover:bg-primary/10 hover:text-primary hover:border-l-4 hover:border-primary">
                {{ ux_icon('solar:hand-money-linear') }}
                Paiement
            </twig:MenuItem>
            <twig:MenuItem href="#" alt="Rapports" additional_classes="hover:bg-primary/10 hover:text-primary hover:border-l-4 hover:border-primary">
                {{ ux_icon('lets-icons:line-up') }}
                Rapports
            </twig:MenuItem>
        </ul>
    </nav>
    <div class="integration mt-10">
        <div class="flex items-center justify-between mb-4">
            <h2 class="text-lg font-semibold">INTEGRATION</h2>
            {{ ux_icon('ph:plus-fill') }}
        </div>
        <div class="bg-gray-100 rounded-lg p-4" style="background-color: #F5F1F1;">
            <ul class="space-y-4">
                <twig:MenuItem href="#" alt="Slack" additional_classes="hover:bg-primary/10 hover:text-primary hover:border-l-4 hover:border-primary">
                    {{ ux_icon('ant-design:slack-circle-filled') }}
                    Slack
                </twig:MenuItem>
                <twig:MenuItem href="#" alt="Jira software" additional_classes="hover:bg-primary/10 hover:text-primary hover:border-l-4 hover:border-primary">
                    {{ ux_icon('mdi:jira') }}
                    Jira software
                </twig:MenuItem>
            </ul>
        </div>
    </div>
    <div class="settings mt-10 space-y-6">
        <ul class="space-y-4">
            <twig:MenuItem href="#" alt="Settings" additional_classes="hover:bg-primary/10 hover:text-primary hover:border-l-4 hover:border-primary">
                {{ ux_icon('clarity:settings-line') }}
                Settings
            </twig:MenuItem>
            <twig:MenuItem href="#" alt="Aide & Support" additional_classes="hover:bg-primary/10 hover:text-primary hover:border-l-4 hover:border-primary">
                {{ ux_icon('material-symbols:chat-outline') }}
                Aide & Support
            </twig:MenuItem>
        </ul>
    </div>
    <div class="theme-switcher mt-10 space-y-4 mb-6">
        <div class="flex items-center justify-between p-2 rounded-md" style="background-color: #F5F1F1;">
            <button type="button" class="flex items-center gap-2 px-6 py-2 rounded-md" style="background-color: #24223B;">
                {{ ux_icon('noto:light-bulb') }}
                <span class="text-white">Light</span>
            </button>
            <button type="button" class="flex items-center gap-2 px-6 py-2 bg-transparent rounded-small">
                {{ ux_icon('ph:moon-bold') }}
                <span>Dark</span>
            </button>
        </div>
    </div>
</aside>