{% extends 'base/base_site.html.twig' %}

{% form_theme form 'theme/form.html.twig' %}

{% block body %}
<div class="container mx-auto py-10">
    <div class="lg:w-1/3 mx-auto pb-10 bg-[#FEF9F9] drop-shadow-md">
        <div class="px-[20px]">
            {{ form_start(form) }}
                {{ form_row(form.name, {
                    label: 'Nom',
                }) }}
                {{ form_row(form.mail, {
                    label: 'Mail',
                }) }}
                {{ form_row(form.phone, {
                    label: 'Téléphone',
                }) }}
                {{ form_row(form.type, {
                    label: 'Type',
                }) }}
                {{ form_row(form.address.zipcode, {
                    label: 'Code postal',
                }) }}
                {{ form_row(form.address.city, {
                    label: 'Ville',
                }) }}
                {{ form_row(form.address.country, {
                    label: 'Pays',
                }) }}
                {{ form_row(form.address.address, {
                    label: 'Adresse',
                }) }}
                <button class="btn mt-4 bg-indigo-500 text-white py-2 px-4 rounded-md hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-opacity-50">
                    {{ button_label|default('Save') }}
                </button>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}