<!DOCTYPE html>

<title>{{ 'customer.edit_title'|trans }}</title>

{% block body %}
    <h1>{{ 'customer.edit_title'|trans }}</h1>

    {{ include('customer/_form.html.twig', {'button_label': 'crud.update'|trans }) }}

    <a href="{{ path('app_customer_index') }}">{{ 'crud.back_to_list'|trans }}</a>

    {{ include('customer/_delete_form.html.twig') }}
{% endblock %}
