<!DOCTYPE html>

<title>{{ 'customer.new'|trans }}</title>

{% block body %}
    <h1>{{ 'customer.new'|trans }}</h1>

    {{ include('customer/_form.html.twig') }}

    <a href="{{ path('app_customer_index') }}">{{ 'crud.back_to_list'|trans }}</a>
{% endblock %}
