{% extends 'base/base_dashboard.html.twig' %}

{% block title %}{{ 'invoice.index_title'|trans }}{% endblock %}




{% set statusColors = {
    'Paid': 'bg-green-100 text-green-800',
    'Unpaid': 'bg-red-100 text-red-800',
    'Pending': 'bg-yellow-100 text-yellow-800',
    'Canceled': 'bg-red-100 text-red-800'
} %}

{% block body %}

    <section class="flex flex-col gap-10">
        <header class="w-full flex justify-between">
            <h1 class="text-title font-title font-semibold">{{ 'invoice.title'|trans }}</h1>
            <twig:MenuItem href="{{ path('dashboard.invoice.export_all') }}" additionalClasses="hidden md:flex justify-center items-center gap-3 px-4 py-2 border border-primary rounded-small hover:bg-primary hover:text-white transition ease-in-out delay-75">
                <span class="text-xl">{{ ux_icon('tabler:cloud-download') }}</span>
                {{ 'crud.export_all'|trans }}
            </twig:MenuItem>
        </header>

        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            <twig:KpiCard kpi_name="{{ 'invoice.invoice_paid'|trans }}" kpi_value="{{ statusCounts['Paid'] }}" icon_name="la:file-invoice-dollar"></twig:KpiCard>
            <twig:KpiCard kpi_name="{{ 'invoice.invoice_unpaid'|trans }}" kpi_value="{{ statusCounts['Unpaid'] }}" icon_name="la:file-invoice-dollar"></twig:KpiCard>
            <twig:KpiCard kpi_name="{{ 'invoice.invoice_pending'|trans }}" kpi_value="{{ statusCounts['Pending'] }}" icon_name="la:file-invoice-dollar"></twig:KpiCard>
        </div>
        <div class="w-full">
            {{ component('Table', { invoices: invoices, headers: headers, rows: rows, title: 'invoice.table_title'|trans, actions: actions, paginatedData: invoices, statusColors: statusColors, deleteFormTemplate: null, deleteRoute: null}) }}
        </div>
    </section>

{% endblock %}