{% extends 'base/base_dashboard.html.twig' %}

{% block title %}{{ 'invoice.invoice_details'|trans }}{% endblock %}


{% block body %}
        <h1>{{ 'invoice.invoice_details'|trans }}</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ invoice.id }}</td>
                </tr>
                <tr>
                    <th>Invoice Number</th>
                    <td>{{ invoice.invoice_number }}</td>
                </tr>
                <tr>
                    <th>Date</th>
                    <td>{{ invoice.invoice_date }}</td>
                </tr>
                <tr>
                    <th>Amount HT</th>
                    <td>{{ invoice.amount_ht }}</td>
                </tr>
                <tr>
                    <th>Amount TTC</th>
                    <td>{{ invoice.amount_ttc }}</td>
                </tr>
                <tr>
                    <th>Client</th>
                    <td>{{ invoice.client }}</td>
                </tr>
            </tbody>
        </table>

         <a href="{{ path('dashboard.invoice.index') }}">{{ 'crud.back_to_list'|trans }}</a>
        
    
    {% endblock %}