{% extends 'base/base_dashboard.html.twig' %}

{% block title %}{{ 'quotation.name'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'quotation.name'|trans }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ quotation.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ quotation.date ? quotation.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ quotation.type }}</td>
            </tr>
            <tr>
                <th>Uuid</th>
                <td>{{ quotation.uuid }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('dashboard.quotation.index') }}">{{ 'crud.back_to_list'|trans }}</a>

    <a href="{{ path('dashboard.quotation.edit', {'id': quotation.id}) }}">{{ 'crud.edit'|trans }}</a>

    {{ include('dashboard/quotation/_delete_form.html.twig') }}
{% endblock %}