{# templates/site/login/index.html.twig #}

{% extends 'base/base_site.html.twig' %}
{% set inputClasses = "mb-2 py-2 block w-full border border-tertiary/50 focus:border-primary focus:ring-primary rounded-sm" %}

{% block title %}{{ 'login.title'|trans }}{% endblock %}

{% block body %}
<div class="container mx-auto py-10">
    <a href={{ path('site.home') }} class='block text-center font-semibold text-title mb-7'>SMOOTHBILL</a>
    <div class='lg:w-1/3 mx-auto pb-10 bg-[#FEF9F9] drop-shadow-md'>
        <h2 class='w-full bg-white font-semibold text-subtitle text-center py-[18px] shadow-sm mb-5'>{{ 'login.title'|trans }}</h2>
        <div class='px-[20px]'>
            <div class='pb-8 mb-5 border-b border-tertiary/50 relative'>
                <a href='#' class=' w-full flex justify-center items-center gap-4 text-primary border border-tertiary hover:border-primary px-4 py-2'>
                    {{ ux_icon('devicon:google') }}
                    <span>{{ 'login.google'|trans }}</span>
                </a>
                <span class='block w-[30px] text-tertiary absolute bottom-[-10px] left-1/2 translate-x-[-50%] z-10 bg-[#FEF9F9] text-center'>ou</span>
            </div>

            <form action="{{ path('site.login') }}" method="post">
                {% for flash_error in app.flashes('verify_email_error') %}
                    <div class="text-red-500 my-1 text-sm" role="alert">{{ flash_error }}</div>
                {% endfor %}
                {% for flash_success in app.flashes('success') %}
                    <div class="text-primary my-1 text-sm" role="success">{{ flash_success }}</div>
                {% endfor %}

                {% if error %}
                    <div class="text-red-500 mt-1 text-sm">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <label for="username" class="uppercase">{{ 'login.email'|trans }}</label>
                <input 
                    type="email"
                    name="_username" id="username" 
                    class="{{ inputClasses }}" 
                    autocomplete="email" 
                    required autofocus
                >
                <label for="password" class="uppercase">{{ 'login.password'|trans }}</label>
                <input 
                    type="password" 
                    name="_password" 
                    id="password" 
                    class="{{ inputClasses }}" 
                    autocomplete="current-password" 
                    required
                >

                <div class="text-right">
                    <a href="{{ path('site.forgot_password') }}" class="text-primary text-sm hover:underline">{{ 'login.forgot_password'|trans }}</a>
                </div>

                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                >

                {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                #}

                <twig:Button bg="filled" rounded="sm" type="submit" additionalClasses='w-full rounded-sm mt-5'>
                    {{ 'login.title'|trans }}
                </twig:Button>

                 <div class='text-[14px] mt-2'>
                    <span class='text-tertiary/60'>{{ 'login.create'|trans }}</span>
                    <a href={{ path('site.register') }} class='text-primary'>{{ 'login.register'|trans }}</a>
                </div>
            </form>
        </div>
    </div>
    {{ include('partials/DashboardFooter.html.twig') }}
</div>
{% endblock %}
