<!DOCTYPE html>

<title>Payment</title>

{% block body %}
    <h1>Payment</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ payment.id }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ payment.amount }}</td>
            </tr>
            <tr>
                <th>StripePaymentMethod</th>
                <td>{{ payment.stripePaymentMethod }}</td>
            </tr>
            <tr>
                <th>StripeLastDigits</th>
                <td>{{ payment.stripeLastDigits }}</td>
            </tr>
            <tr>
                <th>Uid</th>
                <td>{{ payment.uid }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ payment.createdAt ? payment.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated_at</th>
                <td>{{ payment.updatedAt ? payment.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_payment_index') }}">back to list</a>

    <a href="{{ path('app_payment_edit', {'id': payment.id}) }}">edit</a>

    {{ include('payment/_delete_form.html.twig') }}
{% endblock %}
