{# templates/site/registration/complete_registration.html.twig #}

{% extends 'base/base_site.html.twig' %}

{% form_theme form 'theme/authentification.html.twig' %}

{% block title %}Inscription - completion{% endblock %}

{% block body %}
<div class="container mx-auto py-10">
    <a href={{ path('site.home') }} class='block text-center font-semibold text-title mb-7'>SMOOTHBILL</a>
    <div class='lg:w-1/3 mx-auto pb-10 bg-[#FEF9F9] drop-shadow-md'>
        <h2 class='w-full bg-white font-semibold text-subtitle text-center py-[18px] shadow-sm mb-5'>Compléter votre inscription</h2>
        <div class='px-[20px]'>

            {% for flash_error in app.flashes('verify_email_error') %}
                <div class="text-red-500 my-1 text-sm" role="alert">{{ flash_error }}</div>
            {% endfor %}

            {{ form_errors(form) }}

            {{ form_start(form) }}
                {{ form_row(form.lastName, {
                    label: 'NOM',
                }) }}
                {{ form_row(form.firstName, {
                    label: 'PRÉNOM',
                }) }}
                {{ form_row(form.password.first, {
                    label: 'MOT DE PASSE'
                }) }}
                {{ form_row(form.password.second, {
                    label: 'CONFIRMATION DE MOT DE PASSE'
                }) }}
                
                <twig:Button bg="filled" rounded="sm" type="submit" additionalClasses='w-full rounded-sm mt-5'>
                    Valider
                </twig:Button>

            {{ form_end(form) }}
        </div>
    </div>
    <div class='w-fit mx-auto mt-10'>
        <span class='font-semiboled'>&copy; {{ "now"|date('Y') }} Smoothbill -</span>
        <a href={{ path('site.legal_notice')}} class='text-primary underline'>Mentions légales</a>
    </div>
</div>
{% endblock %}
