<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Performance des services : {{ startDate|date('d/m/Y') }} au {{ endDate|date('d/m/Y') }}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'><text y='1.2em' font-size='96'>⚫️</text><text y='1.3em' x='0.2em' font-size='76' fill='#fff'>sf</text></svg>">
</head>
<body>
    <section style="font-family: Arial, sans-serif;">
        <header style="margin-bottom: 20px;">
            <h1 style="font-size: 24px; font-weight: bold;">Rapport de performance des services</h1>
            <p style="font-size: 12px;">Période : <span style="color: #4858D0;">{{ startDate|date('d/m/Y') }} - {{ endDate|date('d/m/Y') }}</span></p>
            <div style="margin-bottom: 26px;">
                Ce rapport de performance des services fournit une vue d'ensemble détaillée des performances
                commerciales de chaque service pour la période sélectionnée. Vous y trouverez le service le 
                plus vendu (Meilleure vente), le moins vendu, le service qui a rapporté le plus de revenus et 
                celui qui en a rapporté le moins. Ces métriques essentielles nous permettent de mesurer notre 
                efficacité commerciale et d'identifier les tendances de vente.
            </div>
        </header>

        <article>
            <div style="margin-bottom: 20px;">
                <div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));">
                    <div style="padding: 10px; border: 1px solid #ccc; border-radius: 5px; margin-bottom: 20px;">
                        <strong>Best Seller</strong> : 
                        {{ mostSoldService.name }}
                    </div>
                    <div style="padding: 10px; border: 1px solid #ccc; border-radius: 5px; margin-bottom: 20px;">
                        <strong>Moins vendu</strong> : 
                        {{ leastSoldService.name }}
                    </div>
                    <div style="padding: 10px; border: 1px solid #ccc; border-radius: 5px; margin-bottom: 20px;">
                        <strong>Meilleur rapporteur</strong> : 
                        {{ highestRevenueService.name }}
                    </div>
                    <div style="padding: 10px; border: 1px solid #ccc; border-radius: 5px; margin-bottom: 20px;">
                        <strong>Pire rapporteur</strong> : 
                        {{ lowestRevenueService.name }}
                    </div>
                </div>
            </div>

            <div style="margin-bottom: 20px;">
                <div style="margin-bottom: 10px;">
                    <h2 style="font-size: 20px; font-weight: bold;">Récapitulatif des services vendus</h2>
                </div>
                <div style="overflow-x: auto; border: 1px solid #ccc; background-color: #fff; max-width: 100%;">

                    <table style="width: 100%; border-collapse: collapse;">
                        <thead style="background-color: #f0f0f0;">
                            <tr style="display: table-row; font-weight: bold;">
                                <th style="padding: 10px;">Nom</th>
                                <th style="padding: 10px;">Prix HT</th>
                                <th style="padding: 10px;">Prix TTC</th>
                                <th style="padding: 10px;">Nombre de vente</th>
                                <th style="padding: 10px;">Revenu HT</th>
                                <th style="padding: 10px;">Revenu TTC</th>
                            </tr>
                        </thead>
                        <tbody style="display: table-row-group;">
                            {% if services|length > 0 %}
                                {% for service in services %}
                                    <tr style="display: table-row;">
                                        <td style="padding: 10px; white-space: nowrap; color: #4858D0;">{{ service.name }}</td>
                                        <td style="padding: 10px; white-space: nowrap;">{{ service.price|number_format(2, ',', ' ') }}</td>
                                        <td style="padding: 10px; white-space: nowrap;">{{ service.priceWithTax|number_format(2, ',', ' ') }}</td>
                                        <td style="padding: 10px; white-space: nowrap;">{{ service.sales }}</td>
                                        <td style="padding: 10px; white-space: nowrap;">{{ service.revenueHT|number_format(2, ',', ' ') }}</td>
                                        <td style="padding: 10px; white-space: nowrap;">{{ service.revenueTTC|number_format(2, ',', ' ') }}</td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <div style="width: 100%; padding: 10px; text-align: center;"> Vous n'avez réalisé aucune vente sur la période sélectionnée.</div>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </article>
        <div style="width:100%; text-align: center; margin-top:80px">
            <p>Merci pour votre confiance. </br>Pour toute question, contactez-nous <a href="mailto:contact@smoothbill.com" style="color: #4858D0;">contact@smoothbill.com</a>.</p>
            L'équipe <strong>SMOOTHBILL</strong>
        </div>
    </section>
</body>
</html>