{% form_theme form 'theme/form.html.twig' %}

<section>
    {{ form_start(form) }}
        <article class="mb-5">
            <h1 class="text-subtitle font-title font-semibold mb-3">Informations générales</h1>
            <div id="service_info" class="grid grid-cols-2 gap-x-5">
                {{ form_row(form.name, {
                    label: 'Nom',
                }) }}
                {{ form_row(form.price, {
                    label: 'Prix',
                }) }}
                {{ form_row(form.estimated_duration, {
                    label: 'Durée estimée',
                }) }}
                {{ form_row(form.serviceStatus, {
                    label: 'Statut',
                }) }}
                {{ form_row(form.description, {
                    label: 'Description',
                }) }}
            </div>
        </article>
        <button class="btn mt-4 bg-primary text-white py-2 px-4 rounded-md hover:bg-primary focus:outline-none focus:ring-2 focus:ring-primary focus:ring-opacity-50">
            {{ button_label|default('Save') }}
        </button>
    {{ form_end(form) }}
</section>
