{% extends 'base/base_dashboard.html.twig' %}

{% block title %}{{ 'service.index_title'|trans }}{% endblock %}

{% block body %}
    <section class="flex flex-col gap-10">
        {% for flash_success in app.flashes('success') %}
            <div class="bg-green-100 text-green-800 my-1 p-2 rounded" role="alert">{{ flash_success }}</div>
        {% endfor %}
        {% for flash_error in app.flashes('error') %}
            <div class="bg-red-100 text-red-800 my-1 p-2 rounded" role="alert">{{ flash_error }}</div>
        {% endfor %}

        <header class="w-full flex justify-between">
            <h1 class="text-title font-title font-semibold">{{ 'service.title'|trans }}</h1>
            <div class="flex gap-4 items-center">
                <a
                    href="{{ path('dashboard.service.new') }}"
                    class="block px-4 py-2 border border-primary bg-primary text-white rounded-small hover:bg-transparent hover:text-black transition ease-in-out delay-75" 
                >
                    {{ 'crud.create_new'|trans }}
                </a>

                {% if subscriptionName != 'Freemium' %}
                    <twig:MenuItem href="{{ path('dashboard.service.export_all') }}" additionalClasses="flex justify-center items-center gap-3 px-4 py-2 border border-primary rounded-small hover:bg-primary hover:text-white transition ease-in-out delay-75">
                        <span class="text-xl">{{ ux_icon('tabler:cloud-download') }}</span>
                        {{ 'crud.export_all'|trans }}
                    </twig:MenuItem>
                {% endif %}
            </div>
        </header>

        <div class="grid lg:grid-cols-2 xl:grid-cols-3 gap-4">
            <div class="grid grid-cols-2 lg:hidden xl:grid xl:grid-cols-1 xl:grid-rows-2 gap-4">
                <twig:KpiCard kpi_name="Total Services" kpi_value="{{ totalServices }}" icon_name="mdi:handshake"></twig:KpiCard>
                <twig:KpiCard kpi_name="Services Actifs" kpi_value="{{ statusCounts.active }}" icon_name="mdi:handshake"></twig:KpiCard>
            </div>
            <div class="">
                <twig:TopTransaction header_title="Top Transactions" header_icon="mdi:handshake" transactions="{{ topTransactionsData|raw }}" headersTopTransaction="{{ headersTopTransaction|raw }}"></twig:TopTransaction>
            </div>
            <div>
                <twig:TopService header_title="Top Services" header_icon="mdi:handshake" services="{{ topServicesData|raw }}"></twig:TopService>
            </div>
        </div>
        <div class="">
            {{ component('Table', { services: services, headers: headers, rows: rows, title: 'service.table_title'|trans, actions: actions, deleteFormTemplate: deleteFormTemplate, deleteRoute: deleteRoute, statusColors: statusColors, paginatedData: services }) }}
        </div>
    </section>
{% endblock %}
