{% extends 'base/base_dashboard.html.twig' %}

{% block title %}{{ 'service.name'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'service.name'|trans }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Uuid</th>
                <td>{{ service.uid }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ service.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ service.description }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ service.price }}</td>
            </tr>
            <tr>
                <th>Estimated_duration</th>
                <td>{{ service.estimatedDuration }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('dashboard.service.index') }}">{{ 'crud.back_to_list'|trans }}</a>

    <a href="{{ path('dashboard.service.edit', {'uid': service.uid}) }}">{{ 'crud.edit'|trans }}</a>

    {{ include('dashboard/service/_delete_form.html.twig') }}
{% endblock %}
