{% extends 'base/base_dashboard.html.twig' %}

{% block title %}{{ 'customer.index_title'|trans }}{% endblock %}

{% block body %}
    <section>
        <header class="w-full flex justify-between mb-[40px]">
            <h1 class="text-title font-title font-semibold">{{ 'customer.title'|trans }}</h1>
            <div class="flex gap-4 items-center">
                <a 
                    href="{{ path('dashboard.customer.new') }}" 
                    class="flex justify-center items-center gap-3 px-4 py-3 border border-primary rounded-small hover:bg-primary hover:text-white transition ease-in-out delay-75"
                >
                    <span class="text-2xl">{{ ux_icon('tabler:cloud-upload') }}</span>
                    {{ 'crud.upload'|trans }}
                </a>
                <a
                    href="{{ path('dashboard.customer.new') }}"
                    class="block px-4 py-3 border border-primary bg-primary text-white rounded-small hover:bg-transparent hover:text-black transition ease-in-out delay-75" 
                >
                    {{ 'crud.create_new'|trans }}
                </a>
            </div>
        </header>

        {{ component('table', {
            customers: customers,
            headers: headers,
            rows: rows,
            title: 'customer.table_title'|trans,
            actions: actions,
            deleteFormTemplate: deleteFormTemplate,
            deleteRoute: deleteRoute,
        }) }}
    </section>
{% endblock %}
