{% extends 'base/base_dashboard.html.twig' %}

{% block title %}{{ 'customer.index_title'|trans }}{% endblock %}

{% block body %}
    <section class="flex flex-col gap-10">
        {% for flash_success in app.flashes('success') %}
            <div class="bg-green-100 text-green-800 my-1 p-2 rounded" role="alert">{{ flash_success }}</div>
        {% endfor %}
        {% for flash_error in app.flashes('error') %}
            <div class="bg-red-100 text-red-800 my-1 p-2 rounded" role="alert">{{ flash_error }}</div>
        {% endfor %}

        <header class="w-full flex justify-between">
            <h1 class="text-title font-title font-semibold">{{ 'customer.title'|trans }}</h1>
            <div class="flex gap-4 items-center">
                <a
                    href="{{ path('dashboard.customer.new') }}"
                    class="block px-4 py-2 border border-primary bg-primary text-white rounded-small hover:bg-transparent hover:text-black transition ease-in-out delay-75" 
                >
                    {{ 'crud.create_new'|trans }}
                </a>
                <twig:MenuItem href="#" additionalClasses="flex justify-center items-center gap-3 px-4 py-2 border border-primary rounded-small hover:bg-primary hover:text-white transition ease-in-out delay-75">
                    <span class="text-xl">{{ ux_icon('tabler:cloud-upload') }}</span>
                    {{ 'crud.upload'|trans }}
                </twig:MenuItem>
                {% if subscriptionName != 'Freemium' %}
                        <twig:MenuItem href="{{ path('dashboard.customer.export_all') }}" additionalClasses="flex justify-center items-center gap-3 px-4 py-2 border border-primary   rounded-small hover:bg-primary hover:text-white transition ease-in-out delay-75">
                        <span class="text-xl">{{ ux_icon('tabler:cloud-download') }}</span>
                        {{ 'crud.export_all'|trans }}
                        </twig:MenuItem>
                {% endif %}
               
            </div>
        </header>

        {{ component('Table', {
            customers: customers,
            headers: headers,
            rows: rows,
            title: 'customer.table_title'|trans,
            actions: actions,
            paginatedData: customers,
            deleteFormTemplate: deleteFormTemplate,
            deleteRoute: deleteRoute,
        }) }}
    </section>
{% endblock %}
